*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: black;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 10px;
    display: flex;
    padding: 1% 6%;
    font-size: large;
    width: auto;
    color: white;
}
header div{
    position: inherit;
    width: 70%;
    padding: 0px;
    text-align: right;
    padding-left: 15px;
    font-size: large;
    flex: 1;
}
.opps{
    display: inline-flex;
    list-style: none;
}
header a{
    padding: 1%;
    display: inline-block;
    position: inherit;
    color: white;
    text-decoration: none;
}
.menu {
    justify-content: center;
}
.cont:hover .sub-menu1{
    display: block;
    position: absolute;
    background-color: black;
    margin-top: 10%;
    margin-right: 2%;
    padding: 10%;
    width: 140%;
}
.sub-menu1{
    display: none;
    text-align: left;
}
.subsub1 {
    display: none;
}
.sub-menu11:hover .subsub1{
    display: block;
}
.subsub2 {
    display: none;
}
.sub-menu12:hover .subsub2{
    display: block;
    width: 100%;
}
header a::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    margin: auto;
    background: red;
    transition: 0.5s;
}
header a:hover::after{
    width: 100%;
}
.cont {
    p
}
header nav{
    padding: 0px;
    display: inline;
}
@media (max-width: 700px) {
    header {
        font-size: 20px;
        justify-content: center;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 10px;
    }
    a {
        font-size: 10px;
    }
}
body {
    background-color: white;
    font-size: x-large;
}
img {
    display: block;
    float: right;
    max-width: 20%;
}
.Eunice {
    content: "";
    clear: both;
    display: table;
    border-color: black;
    border: 5px;
    margin: 5%;
}
.Eunice p{
    width: 70%;
}
.work {
    height: 100px;
    content: "";
    clear: both;
    display: flexbox;
    margin: 5%;
    align-items: center;
}
.work img{
    left: 0%;
    padding-right: 5%;
    width: 20%;
}
.books{
    padding-top: 5%;
    margin: 5%;
    content: "";
    clear: both;
    display: table;
    width: auto;
}
.books p{
    width: 60%;
}
.books img{
    position: relative;
}
footer {
    bottom: 0px;
    background-color: rgb(236, 236, 232);
    width: 100%;
    text-align: center;
    padding: 0px;
    position: relative;
}
footer a{
    text-align: center;
    justify-self: center;
}